<!DOCTYPE html>
	<html>
	<head>
		
	</head>
	<body>
		<h1><%= @user.name %></h1>
		<p>
			The category they want is: <%= @user.cat %> <br/>
			The users name is: <%= @user.email %>
		</p>
	</body>
	</html>