<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		 <div class="container">
		    <div class="navbar-header">
		      <span class="navbar-brand"> <img src="assets/logo-dcc0ac7a5b41d68ed1e07a0080e4ad99.png"></span>
		    </div>		   
		 </div>
	</div>