<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		 <div class="container">
		 	<div class="col-sm-12 col-md-0" id="menueq">
		 		<button id="gh-svg-icons" class="gh-svg-wrapper" aria-controls="#gh-nav-list" aria-expanded="false">
					
					<svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" id="MTop" class="gh-svg menu-top" enable-background="new 0 0 96 96">
						<rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-top"></rect>
					</svg>
					<svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg menu-bottom" enable-background="new 0 0 96 96">
						<rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-bottom"></rect>
					</svg>
				</button>
		 	</div>
		    <div class="navbar-header">
		      <span class="navbar-brand"> <img src="assets/logo-dcc0ac7a5b41d68ed1e07a0080e4ad99.png"></span>
		    </div>		   
		 </div>
	</div>